/**
* This file should get overwritten if Method 1 is used. If Method 2 is chosen,
* remove this comment and start adding your styles to this file.
*/

/*end advertise*/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .col-xs-12 {
    width: 100% !important;
    margin-right: 0px;
  }

  .region {
    padding: 0 !important;
    width: 100%;
  }

  .row {
    margin: 0;
  }

  .header .container {
    width: 100%;
    padding: 0;
  }

  .main_container {
    width: 100%;
    margin-top: 15px;
  }

  .container .wrapper a.logo img {
    height: 30px;
    margin-top: 22px;
    width: 100%;
  }

  .row.row-offcanvas.row-offcanvas-right {
    width: 100% !important;
    margin: 0 !important;
  }

  #show-content .row.list-unstyled {
    width: 100% !important;
  }

  .header .col-xs-6.wrapper, .slideshow, .main_container .tabs {
    display: none;
  }

  .button_list .btn-primary {
    bottom: -110px;
    display: inline-block;
    font-size: 14px;
    left: 0;
    margin: 0;
    padding: 6px 5px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .header.sticky .button_list .btn-primary {
    display: none;
  }

  .button_list {
    margin-top: 22px;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 130px;
    width: 100% !important;
  }

  .carousel-control, .carousel-control:hover, .carousel-control.left, .carousel-control.right {
    top: 40%;
  }

  .carousel-control.right {
    right: 9.2%;
  }

  .page-node .main_container {
    padding-top: 45px !important;
    width: 100%;
    clear: both;
  }

  .nav-pills > li {
    clear: both;
    width: 100%;
  }

  .bs-docs-footer .container {
    width: 100%;
  }

  .bs-docs-footer .row .media-social {
    float: left;
    margin-top: 10px;
  }

  .no-front .navbar-nav, .header .container .reggion {
    float: right;
    margin: 0;
    width: 100%;
  }

  .front .header.sticky .form-search {
    top: 0 !important;
  }

  .menu-top {
    display: block;
  }

  .front .form-search .search-query {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    display: inline-block;
    float: left;
    height: 35px;
    opacity: 0.8;
    padding: 4px 10px;
    width: 100%;
  }

  .front .form-search button.btn {
    background: url("../images/icon_ds.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 17px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 10px;
    width: 16px;
  }

  .front .header .form-search button.btn:hover {
    background-position: -16px 0;
  }

  #block-search2, .form-search {
    display: inline-block;
    right: 0 !important;
    margin-top: 5px;
    width: 90%;
    left: 10%;
  }

  .front .main_container {
    padding: 65px 15px 20px !important;
    overflow: hidden;
  }

  .button_list {
    width: 100%;
  }

  .form-group.col-md-10.list-image {
    clear: both;
  }

  .no-front .show-multiple.form-group:after {
    right: 15px;
  }

  .no-front .show-multiple .icon-select:after {
    right: 7.5%;
  }

  .bs-docs-footer {
    padding: 85px 0 !important;
  }

  .no-front .form-contact.form-group .form-group {
    padding: 0;
    width: 100% !important;
    margin-left: 0 !important;
  }

  .no-front .show-multiple.form-group {
    padding: 0 15px;
  }

  #carousel .slides li {
    margin-right: 5px;
  }

  .media-body .date {
    /*clear: both;*/
    display: inline-block;
  }

  .action-content .stat, .action-content .social-content {
    float: left !important;
  }

  .media-body .stat span {
    /*margin-right: 15px;*/
  }

  .stat span.reply {
    /*margin-left: 0;*/
  }

  .comment-reply, .reply-form {
    padding-left: 32px !important;
  }

  .user-icon {
    display: none;
  }

  .col-md-12.form-contact.form-group > form {
    width: 100%;
  }

  .no-front .main_container h4.title {
    /*padding-left: 15%;*/
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .no-front .main_container .post {
    margin-bottom: 10px;
  }

  .no-front .main_container .post-meta .history.post {
    float: left;
  }

  .no-front.form .header .navbar-nav.navbar-right,
  .no-front .header .col-xs-5.wrapper,
  .no-front .slide_show {
    display: none;
  }

  .no-front .main_container .body {
    width: 100%;
  }

  .no-front .form-group .registering .btn {
    width: 100%;
  }

  .no-front .main_container .comment .media.comment {
    /*border-bottom: 1px solid #eeeeee;*/
    margin-bottom: 10px;
  }

  .no-front .main_container .comment .media.comment a.pull-left {
    display: none;
  }

  .no-front .main_container .comment .media.comment .stat {
    /*border-bottom: 1px solid #eeeeee;*/
    /*display: inline-block;*/
    padding-bottom: 10px;
    width: 100%;
  }

  .media-body .stat span {
    /*float: right;*/
  }

  .no-front .main_container .comment .media.comment.last .stat {
    border: none;
  }

  .no-front .main_container .comment .media.comment .media-body .media.comment {
    border: none;
    margin-left: 60px;
    margin-bottom: 0;
  }

  .no-front .main_container .body.form-group {
    width: 75%;
  }

  .no-front .form-group.list-image ul li {
    margin-right: 18px;
  }

  .no-front .form-contact .registering.form-group {
    width: 100% !important;
  }

  .no-front .form-contact .form-group.col-md-offset-3 {
    margin-left: 0 !important;
  }

  .container-fluid .menu-top {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .main_container #top {
    display: none;
  }

  .container-fluid .menu-top .navbar-toggle,
  .no-front .container-fluid .menu-top .navbar-toggle {
    background: none repeat scroll 0 0 #43A6E1;
    float: left;
    margin-left: 15px;
  }

  .no-front .navbar.navbar-static-top {
    display: block;
  }

  .no-front .container-fluid .menu-top .navbar-toggle {
    margin-left: 15px;
    margin-top: 0;
    bottom: -4px;
  }

  .no-front .container-fluid .menu-top .menu > .navbar-collapse.in > ul {
    padding: 0;
  }

  .no-front .container-fluid .menu-top .menu > .navbar-collapse .wrapper a.logo {
    margin-bottom: 0;
  }

  .container-fluid .menu-top .menu > .navbar-collapse.in {
    background: url("../images/boxshadaw.png") repeat-x scroll 0 bottom white;
    border: none;
    margin-top: 19px;
  }

  .container-fluid .menu-top .menu > .navbar-collapse.in > ul {
    padding: 0 15px;
    clear: both;
    margin-top: 0;
  }

  .panel-default.facebook {
    display: none;
  }

  .bs-docs-footer .row .copyright-text, .bs-docs-footer .row .media-social {
    width: 100%;
  }

  .backto-top {
    right: 20px;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 480px) {
  .main_container .row.row-offcanvas .item {
    border: 1px solid #CCCCCC;
    float: left;
    left: 0 !important;
    margin-right: 20px;
    padding: 0;
    width: 100% !important;
  }
}

@media screen and (max-width: 320px) {
  /* Styles */
  .region {
    width: 100%;
  }

  .webform-client-form .form-text {
    width: 67%;
  }

  .no-front .form-group.list-image ul li:nth-child(4),
  .no-front .form-group.list-image ul li:nth-child(5),
  .no-front .form-group.list-image ul li:nth-child(6),
  .no-front .form-group.list-image ul li:nth-child(7),
  .no-front .form-group.list-image ul li:nth-child(8) {
    display: none;
  }

  .no-front .show-multiple .icon-select:after {
    right: 7.5% !important;
  }

  .front .main_container {
    padding: 65px 15px 20px !important;
    width: 100%;
    overflow: hidden;
  }

  .front .form-search {
    left: 0;
    right: 0;
    top: 10px;
    width: 220px !important;
  }

  .no-front .main_container .post-meta {
    margin-top: 25px;
  }

  #block-search2 {
    left: 13%;
  }

  .no-front .form-group.list-image ul .prev {
    margin-left: 5px;
  }

  #block-search2 {
    left: 90px !important;
    width: 245px !important;
  }

  .navbar-toggle .wrapper {
    display: block;
  }

  .slogan {
    display: none;
  }

  .collapse .wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .nav-content.navbar-collapse {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
  }

  .nav-content ul.navbar-nav {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 19px 0 0;
    padding: 15px;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px) {

  .nav-content.navbar-collapse {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: none;
    box-shadow: none;
  }

  .nav-content ul.navbar-nav {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 9px 0 0;
    padding: 15px;
  }

  .no-front .nav-content ul.navbar-nav {
    margin: 17px 0 0;
  }

  .no-front .main_container #top {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) {
  #carousel {
    padding: 0 30px;
  }
}

@media only screen and (min-device-width: 360px) {
  #carousel {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 320px) {
  .button_list .btn-primary {
    bottom: -100px;
    z-index: 99;
  }

  .navbar-toggle .wrapper {
    display: block;
  }

  .collapse .wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .main_container .col-md-12.col-md-9 {
    overflow: hidden;
    padding: 0;
  }

  .bs-docs-footer .row .copyright-text, .bs-docs-footer .row .media-social {
    width: 100%;
  }

}

@media only screen and (min-width: 480px) {

}

@media only screen and (max-width: 480px) {

  .no-front .form-group.list-image ul li:nth-child(6),
  .no-front .form-group.list-image ul li:nth-child(7),
  .no-front .form-group.list-image ul li:nth-child(8) {
    display: none;
  }

  .no-front .show-multiple .icon-select:after {
    right: 5.5%;
  }

  .no-front .form-group.list-image ul li {
    margin-right: 13px !important;
  }

  .no-front .form-group.list-image ul .prev {
    margin-left: 5px;
    margin-right: 15px;
  }

  .front .header.sticky .form-search {
    left: 135px;
    width: 330px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .col-xs-12 {
    width: 100%;
    margin-right: 0px;
  }

  .main_container {
    width: 100%;
  }

  .carousel-control.right {
    right: 5%;
  }

  .carousel-control.left {
    left: 92%;
  }

  .front .header.sticky .form-search {
    left: 41%;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 150px;
  }

  .container {
    width: 100%;
    position: relative;
  }

  .main_container.region {
    padding: 0 15px;
    width: 100%;
    overflow: hidden;
  }

  #block-search2 {
    left: 43%;
    position: absolute;
  }

  .form-group.col-md-10.list-image {
    clear: both;
  }

  .col-xs-12.show-multiple.col-md-3.form-group {
    width: 30% !important;
  }

  .bs-docs-footer .row .media-social {
    float: right;
    margin-top: 20px;
    width: 100%;
  }

  .form-group.col-xs-12.col-sm-4, .checkbox.col-xs-12.col-sm-4 {
    width: 35% !important;
  }

  .form-group.col-xs-12.col-sm-4.col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-12.form-contact.form-group > form {
    width: 100%;
  }

  .no-front .form-contact.form-group .form-group.col-md-4 {
    float: left;
    width: 32%;
  }

  .no-front .form-contact.form-group .form-group.col-md-4.col-md-offset-1 {
    margin-left: 11%;
  }

  .no-front .form-contact.form-group .form-group.col-md-4.col-md-offset-8 {
    float: right;
  }

  .bs-docs-footer .col-xs-12.col-md-3, .bs-docs-footer .col-md-4 {
    float: left;
    margin: 0 !important;
    width: 33% !important;
  }

  .no-front .main_container .social-content .social {
    /*margin-right: 45px;*/
  }

  .panel-default.facebook {
    display: none;
  }

}

@media only screen and (max-width: 480px) {
  #block-search2 {
    left: 235px;
    margin-top: 0;
    top: 15px;
    width: 260px;
  }

  .navbar-toggle .wrapper {
    display: block;
  }

  .slogan {
    display: none;
  }

  .collapse .wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    width: 100%;
  }

}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  /* some CSS here */
  .col-xs-12 {
    width: 100% !important;
    margin-right: 0px;
  }

}

@media only screen and (min-width: 480px) {
  #carousel {
    padding: 0 30px;
  }

}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  /* some CSS here */
  .container {
    width: 100%;
  }

  .region {
    width: 100%;
  }

  .header .wrapper {
    display: none;
  }

  .main_container {
    padding: 20px 15px 40px !important;
  }

  .col-xs-2.nav.navbar-nav.navbar-right {
    float: right;
  }

  .button_list {
    margin-top: 8px;
  }

  .no-front .main_container .post-meta .post, .no-front .main_container .comment .author {
    margin-right: 10px;
  }

  .no-front .main_container .post-meta .stat.post {
    margin: 0;
  }

  .no-front .main_container .post-meta .stat.post span {
    margin-right: 10px;
  }

  .no-front .main_container .post-meta .history.post span {
    margin-left: 5px;
  }

  .row.row-offcanvas.row-offcanvas-right {
    width: 100% !important;
    margin: 0 !important;
  }

  #show-content .row.list-unstyled {
    width: 100% !important;
  }

  .not-front.form .col-md-12.form-contact.form-group > form {
    width: 100%;
  }

  .not-front.form .col-sm-3.registering.form-group {
    float: left;
    width: 25%;
  }

  .not-front.form .form-group.col-md-4 {
    float: left;
    margin-left: 20px;
    width: 34%;
  }

  .not-front.form .form-group.col-md-4.col-md-offset-8 {
    float: right;
  }

  .no-front .form-group.list-image ul li {
    margin-right: 18px;
  }

  .front .header.sticky .form-search {
    top: 0 !important;
  }

  .front .form-search .search-query {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    display: inline-block;
    float: left;
    height: 35px;
    opacity: 0.8;
    padding: 4px 10px;
    width: 100%;
  }

  .front .form-search button.btn {
    background: url("../images/icon_ds.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 17px;
    padding: 0;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 10px;
    width: 16px;
  }

  .form-search {
    display: inline-block;
    right: 0 !important;
    margin-top: 10px;
    width: 90%;
    left: 10%;

  }

  .panel-default.facebook {
    display: none;
  }

}

@media screen and (max-width: 640px) {
  .header .form-search {
    display: block;
    float: right;
    left: 0;
    margin-top: -8px;
    position: relative;
    top: 10px;
    width: 60%;
    z-index: 1001;
  }

  .front .header.sticky .form-search {
    float: right;
    left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    top: 2px !important;
    width: 60%;
  }

  .front .button_list {
    margin-top: 20px;
  }

  .button_list {
    margin-top: 15px;
  }

  .main_container #top .navbar-toggle {
    background: none repeat scroll 0 0 #43A6E1;
    float: left;
    position: relative;
    /*
    top: 10px;
    left: 15px;
    */
  }

  #block-search2 {
    left: 49%;
    margin-top: 0;
    top: 15px;
    width: 260px;
  }
}

@media screen and (min-width: 640px) {
  #block-search2 {
    left: 46%;
    margin-top: -12px;
    top: 0;
    width: 260px;
  }

  .main_container {
    clear: both;
    overflow: hidden;
    /*margin-top: 15px;*/
  }

  .button_list {
    margin-top: 15px;
  }

  .header .form-search {
    left: 0;
    margin-right: 40px;
    margin-top: 21px;
    top: 0;
    width: 235px;
    z-index: 9999;
  }

  .front .header.sticky .form-search {
    left: 0;
    margin-right: 20px;
    margin-top: 20px;
    top: 0;
    width: 235px;
    z-index: 99;
  }

  .main_container #top .menu > .navbar-collapse.in {
    background: url("../images/boxshadaw.png") repeat-x scroll 0 bottom white;
    border: none;
    margin-top: 19px;
  }

  .main_container #top {
    left: 0;
    position: absolute;
    top: -61px;
    width: 100%;
    z-index: 1000;
  }

  .navbar-header {
    position: absolute;
    top: 13px;
  }

  .navbar-toggle {
    margin-left: 15px;
  }

  .navbar-toggle .wrapper {
    display: block;
  }

  .collapse .wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    width: 100%;
  }

  .navbar-collapse .navbar-nav {
    padding-left: 15px;
    clear: both;
  }

  .no-front .navbar.navbar-static-top {
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .no-front .main_container #top .navbar-toggle {
    margin-left: 15px;
    margin-top: 5px;
  }

  .no-front .nav-content ul.navbar-nav {
    margin: 73px 0 0;
  }

  .no-front .main_container #top {
    top: 0;
  }

  .main_container .col-md-12.col-md-9 {
    padding: 0 15px;
  }

  .main_container #top .navbar-toggle {
    /* bottom: -10px; */
  }

  .main_container #top {
    position: fixed;
    top: 0;
  }

  .backto-top {
    right: 15px;
  }

  #carousel {
    padding: 0 30px;
  }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-width: 640px) {
  /* some CSS here */
  .container {
    width: 100%;
    padding: 0 15px !important;
  }

  .body ul, .body ol {
    margin-left: 0px !important;

  }

  .region {
    width: 100%;
  }

  .col-xs-2.nav.navbar-nav.navbar-right {
    float: right;
  }

  .slideshow {
    display: none;
  }

  .nav > li > a {
    margin-right: 20px;
  }

  .slide_show {
    padding: 0 !important;
  }

  .button_list .btn-primary {
    padding: 7px 13px !important;
  }

  .button_list {
    margin-top: 20px;
  }

  .row.row-offcanvas.row-offcanvas-right {
    width: 100% !important;
    margin: 0 !important;
  }

  #show-content .row.list-unstyled {
    width: 100% !important;
  }

  .button_list {
    margin-top: 20px;
  }

  .no-front .main_container .post-meta .post, .no-front .main_container .comment .author {
    margin-right: 10px;
  }

  .no-front .main_container .post-meta .stat.post {
    margin: 0;
  }

  .no-front .main_container .post-meta .stat.post span {
    margin-right: 10px;
  }

  .no-front .main_container .post-meta .history.post span {
    margin-left: 5px;
  }

  .no-front.page-node .form-contact.form-group > form {
    width: 100%;
  }

  .no-front.page-node .registering.form-group {
    float: left;
    width: 25%;
  }

  .no-front.page-node .form-group.col-md-4 {
    float: left;
    /*margin-left: 20px;*/
    width: 34%;
  }

  .no-front.page-node .form-group.col-md-4.col-md-offset-8 {
    float: right;
  }

  .no-front .show-multiple.form-group {
    width: 40%;
  }

  .no-front .form-group.list-image {
    clear: both;
  }

  .no-front .form-group.list-image ul li:nth-child(8) {
    display: none;
  }

  .no-front .form-contact.form-group .form-group {
    width: 35%;
  }

  .no-front .form-contact.form-group .form-group.col-md-12 {
    width: 100%;
  }

  .no-front .form-contact .registering.form-group {
    float: left;
    /*margin-right: 21px;*/
    width: 20%;
  }

  .no-front .form-contact .form-group.col-md-offset-3 {
    margin-left: 23.5%;
  }

  .no-front .form-contact .checkbox {
    width: 33%;
  }

  .bs-docs-footer {
    padding: 85px 0 !important;
  }

}

@media screen and (min-width: 640px) {
  .button_list .btn-primary, .header.sticky .button_list .btn-primary {
    bottom: 0px;
    z-index: 1001;
  }

  .bs-docs-footer .row .copyright-text, .bs-docs-footer .row .media-social, .design-by {
    width: 100%;
  }

  .bs-docs-footer .row .media-social {
    margin-top: 10px;
  }

}

@media screen and (max-width: 360px) {
  /* some CSS here */
  .body ul, .body ol {
    margin-left: 0px !important;

  }

  .region {
    width: 100%;
  }

  .front .form-search {
    left: 0;
    top: 10px;
    width: 200px !important;
    overflow: hidden;
    float: right;
  }

  .front .header.sticky .form-search {
    left: 0;
    top: 15px;
    width: 230px;
    overflow: hidden;
    z-index: 9999;
  }

  #block-search2 {
    left: 115px;
    margin-top: 0;
    width: 260px;
  }

  .row.row-offcanvas.row-offcanvas-right {
    width: 100% !important;
    margin: 0 !important;
  }

  #show-content .row.list-unstyled {
    width: 100% !important;
  }

  .list-inline > li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
  }

  .no-front.page-node .registering.form-group,
  .no-front.page-node .form-group.col-md-4 {
    width: 100%;
    margin-left: 0;
  }

  .no-front .show-multiple .icon-select:after {
    right: 7%;
  }

  .no-front .form-group.list-image ul li:nth-child(5),
  .no-front .form-group.list-image ul li:nth-child(6),
  .no-front .form-group.list-image ul li:nth-child(7),
  .no-front .form-group.list-image ul li:nth-child(8) {
    display: none;
  }

  .no-front .form-group.list-image ul li {
    margin-right: 10px !important;
  }

  .no-front .form-group.list-image ul .prev {
    margin-right: 15px;
  }

  .no-front .form-contact .form-group.col-md-offset-3 {
    margin-left: 0;
  }

  .no-front .form-contact .registering.form-group {
    width: 100% !important;
  }

  .bs-docs-footer {
    padding: 85px 0 !important;
  }

  .no-front .form-group.list-image ul .prev {
    margin-right: 10px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
  #block-search2 {
    left: 310px;
    margin-top: 20px;
    width: 305px;
  }

  #block-search2 .form-search {
    display: block;
    left: 0;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
  }

  .row.row-offcanvas.row-offcanvas-right {
    width: 100% !important;
    margin: 0 !important;
  }

  #show-content .row.list-unstyled {
    width: 100% !important;
  }

  .front .form-search {
    left: 17% !important;
    top: 125px;
    width: 500px !important;
  }

  .front .form-search .search-query {
    width: 100%;
  }

  .carousel-control.left {
    left: 90% !important;
  }

  .front .header.sticky .form-search {
    left: 40% !important;
    margin-top: 20px;
    width: 36% !important;
  }

  .no-front .show-multiple.form-group:after {
    right: 15px;
  }

  .no-front .show-multiple .icon-select:after {
    right: 3.2%;
  }

  .button_list {
    margin-top: 20px;
  }

  .main_container #top {
    position: relative;
    top: 0;
    z-index: 0;
  }

  .main_container #top .menu > .navbar-collapse.in {
    background: none;
    border-bottom: 1px solid #C2BEBF;
  }

  .navbar-collapse .wrapper {
    display: none;
  }

  .navbar-collapse .navbar-nav {
    padding: 0;
  }

  .no-front .main_container #top, .no-front .header #top {
    display: none;
  }

  .bs-docs-footer .row .copyright-text, .bs-docs-footer .row .media-social, .design-by {
    width: auto;
  }

  .bs-docs-footer .row .media-social {
    margin-top: 0;
  }

  .backto-top {
    right: 10px;
    bottom: 130px;
  }

}

@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1024px) {
  .container-fluid .header.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
  }

  .slogan {
    display: inline-block;
  }

  #block-search2 {
    left: 50%;
    margin-top: 20px;
    width: 305px;
  }

  #block-search2 .form-search {
    display: block;
    left: 0;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
  }

  .button_list {
    margin-top: 20px;
  }

  .front .header.sticky .form-search {
    left: 50%;
    margin-top: 0;
    top: 20px;
    width: 275px;
    margin-left: 15px;
  }

  .main_container #top {
    position: relative;
    top: 0;
    z-index: 0;
  }

  .main_container #top .menu > .navbar-collapse.in {
    background: none;
    border-bottom: 1px solid #C2BEBF;
  }

  .navbar-collapse .wrapper {
    display: none;
  }

  .navbar-collapse .navbar-nav {
    padding: 0;
  }

  .no-front .main_container #top, .no-front .header #top {
    display: none;
  }

  .bs-docs-footer .row .copyright-text, .bs-docs-footer .row .media-social, .design-by {
    width: auto;
  }

  .bs-docs-footer .row .media-social {
    margin-top: 0;
  }

  .no-front .show-multiple .icon-select:after {
    right: 3.2%;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
  .form-search {
    top: 160px;
    width: 500px;
  }

  .backto-top {
    bottom: 120px;
    right: 10px;
  }

  .bs-docs-footer .row .copyright-text, .bs-docs-footer .row .media-social, .design-by {
    width: auto;
  }

  .bs-docs-footer .row .media-social {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  /* Styles */
  .button_list .btn-primary {
    padding: 6px 29px;
  }

  .row.row-offcanvas.row-offcanvas-right {
    width: 100% !important;
    margin: 0 !important;
  }

  #show-content .row.list-unstyled {
    width: 100% !important;
  }

  .carousel-control.right {
    right: 7%;
  }

  .carousel-control.left {
    left: 90.7%;
  }

}


